*{
    padding: 15px;
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient( 135deg, hwb(35 4% 2%) 0%, hwb(15 46% 6%) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: hsla(0, 0%, 100%, 0.87);
    width: 400px;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0px 8px 20px rgba(25, 38, 225, 0.2);
    text-align: center;
    
}

h1{
    color: brown;
    margin-bottom: 35px;

}

input{
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    border: 1px;
    background-color: hwb(68 5% 9%);
    color: rgb(33, 4, 4);
    font-size: 16px;
    margin: 10px;
    border: 1px dotted blueviolet;
}

button{
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    border: 1px;
    background-color: hwb(68 5% 9%);
    color: rgb(24, 2, 2);
    font-size: 16px;
    margin: 10px;
    border: 1px dotted blueviolet;
    cursor: pointer;
}